.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.container {
    width: 80%;
}

.profile-pic {
    padding: 0 20px;
}

#subscribe-email {
    margin-left: 20px;
    margin-right: 20px;
}