/* You can add global styles to this file, and also import other style files */
.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.container {
    width: 80%;
}

body {
    height: 100%;
    min-height: 100vh;
}

footer {
    font-size: 1em;
    left: 0;
    right: 0;
    bottom: 0;
}