<!-- Emoticons Section -->
<div class="section">
    <div class="section center-align">
        <div (click)="onEmoticonClick($event, e)" *ngFor="let e of emoticonList | async"
             class="big-chip">{{e.emoticon}}</div>
    </div>
</div>

<!-- Tags Section -->
<div class="section center-align">
    <h5 class="center" id="all-emoticons-title">all emoticons</h5>
    <div class="row">
        <div class="section center-align" id="tag-container">
            <div (click)="loadPopularEmoticons()" class="chip">
                Popular
            </div>
            <div (click)="loadTaggedEmoticon(item)" *ngFor="let item of items | async"
                 class="chip">{{item.key | titlecase}}</div>
        </div>
    </div>
</div>

<!-- Necessary for copy function -->
<!--suppress HtmlFormInputWithoutLabel -->
<textarea id="clipboard-area"></textarea>